/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  font-family: Raleway, sans-serif;
    color: #ffffff;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #333333;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for  background: #3db2e1;template or sticky footer method. */

.container1 {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.text-muted {
  margin: 20px 0;
}
